@CHARSET "ISO-8859-1";

/******************************
Allgemein
*************************/

@font-face {
	font-family:frutiger; 
	src:url("ffonts/FrutigerLTStd-Light.otf");
	font-family:frutigerbold;
	src:url("ffonts/FrutigerLTStd-Bold.otf");
}  

body { 
	background-color: #aaa;
	font-family:Verdana;
}

.red {
	color:red; 	
}

hr {
	margin-top: 10px; 
	border: none; 
	border-top: 1px; 
	color: #FFFFFF; 
	background-color: #FFFFFF; 
	height: 3px;
	size:5;	
}

.headerLogo {
	margin-left: 20px; 
	margin-right: 100px; 
	margin-top: 20px; 
	margin-bottom: 20px; 
	height: 90px;	
}

.content {
	margin-left:80;
	margin-top:30px;
}

h4 {
	margin-bottom:5px;
	margin-top:20px;
	font-size:14px;
}


td.auswahl {
	padding-right:120px;	
}

.logoutIMG  {
	border-style:none;
	width:100px;

	}
	
.view-sprachAuswahl-link {
	margin-bottom: 10px;
}

.view-sprachAuswahl-link a{
	color: #000000;
	text-decoration: none;
}



/******************************
Alle Formulare
*************************/

.view-AlleFormulare-horizontalLinie {
	margin-top:10px;
	border:none;
	border-top:1px;
	color:#FFFFFF;
	background-color:#FFFFFF;
	height:3px;
}

.orange {
 color: #F37021;
}

.vorschaufenster {	
	position:absolute;
	top:160px;
	left:540px;
	height:250px;
	width:400px;
	border-style:solid;
	border-color:#000;
	border-width:0px;
	margin-left:80;
	margin-top:30px;
	padding-top:0px;
}

.vorschaufenster-rueckseite {
	position:absolute;
	top:160px;
	left:950px;
	height:254px;
	width:400px;
	border-style:solid;
	border-color:#000;
	border-width:0px;
	margin-left:80;
	margin-top:30px;
}

.formularTabelle {
	border-color:#ff0000;
	color:#ffffff;
	border:0;
	cellpadding:0; 
	cellspacing:8;
}

.tabellenKommentar {
	font-size:10px;
}


/******************************
Formular Administration
*************************/

.view-formularAdmin-vorschau-name {
	font-size:20px;
	width:400px;
	font-family:frutigerbold, Verdana;
        font-weight:bold;
	margin-top:-159px;
	text-align:center;
}
	
.view-formularAdmin-vorschau-function1 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:120px;
	text-align:center;
}

.view-formularAdmin-vorschau-function2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:135px;
	text-align:center;
}

.view-formularAdmin-vorschau-adressZeile {
	font-size:12px;
	width:450px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:165px;
	text-align:center;
}

.view-formularAdmin-vorschau-mail {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:185px;
	text-align:center;
}

.view-formularAdmin-vorschau-nummern {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:205px;
	text-align:center;
	letter-spacing: -1px;
}



/******************************
Formular Verkauf
*************************/

.view-formularVerkauf-vorschau-name {
	font-size:20px;
	width:400px;
	font-family:frutigerbold, Verdana;
    font-weight:bold;
	margin-top:-159px;
	text-align:center;
}
	
.view-formularVerkauf-vorschau-function1 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:120px;
	text-align:center;
}

.view-formularVerkauf-vorschau-function2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:135px;
	text-align:center;
}

.view-formularVerkauf-vorschau-adressZeile {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:165px;
	text-align:center;
}

.view-formularVerkauf-vorschau-mail {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:180px;
	text-align:center;
}

.view-formularVerkauf-vorschau-nummern {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:195px;
	text-align:center;
	letter-spacing: -1px;
}

.view-formularVerkauf-vorschau-FreierWochentag {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:210px;
	text-align:center;
	letter-spacing: -1px;
}

/******************************
Formular Verkauf Springer
*************************/

.view-formularVerkaufSpringer-vorschau-name {
	font-size:20px;
	width:400px;
	font-family:frutigerbold, Verdana;
        font-weight:bold;
	margin-top:-159px;
	text-align:center;
}
	
.view-formularVerkaufSpringer-vorschau-function1 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:120px;
	text-align:center;
}

.view-formularVerkaufSpringer-vorschau-function2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:135px;
	text-align:center;
}

.view-formularVerkaufSpringer-vorschau-adressZeile {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:158px;
	text-align:center;
}


.view-formularVerkaufSpringer-vorschau-nummern {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:173px;
	text-align:center;
	letter-spacing: -1px;
}


.view-formularVerkaufSpringer-vorschau-adressZeileF2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:198px;
	text-align:center;
}


.view-formularVerkaufSpringer-vorschau-nummernF2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:213px;
	text-align:center;
	letter-spacing: -1px;
}

/******************************
Formular Monteur
*************************/

.view-formularMonteur-vorschau-name {
	font-size:20px;
	width:400px;
	font-family:frutigerbold, Verdana;
        font-weight:bold;
	margin-top:-159px;
	text-align:center;
}
	
.view-formularMonteur-vorschau-function1 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:120px;
	text-align:center;
}

.view-formularMonteur-vorschau-function2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:135px;
	text-align:center;
}

.view-formularMonteur-vorschau-region{
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	top:165px;
	text-align:center;
}




/******************************
Formular KueBa
*************************/

.view-formularKueBa-vorschau-name {
	position:absolute;
	font-size:20px;
	width:400px;
	font-family:frutigerbold, Verdana;
        font-weight:bold;
	top:75px;
	left:150;
}
	
.view-formularKueBa-vorschau-function1 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
        font-weight:bold;
	top:98px;
	left:150;
	
}

.view-formularKueBa-vorschau-function2 {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
    font-weight:bold;
	left:150px;
	top:113px;
	
}

.view-formularKueBa-vorschau-adressZeile {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
        font-weight:bold;
	margin-top:-45;
	text-align:center;
}


.view-formularKueBa-vorschau-nummern {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	top:130px;
	left: 150px;
    letter-spacing: -1px;
}

.view-formularKueBa-Nummer-Vorschau {
	font-size:12px;
	width:400px;
	font-family:frutigerbold, Verdana;
	position:absolute;
	left: 50px;
    letter-spacing: -1px;

}
